name: _Linter

on: 
  workflow_call:
    inputs:
      base_sha:
        type: string
        required: true
      head_sha:
        type: string
        required: true
      flake8:
        type: boolean
        required: true
      black:
        type: boolean
        required: true
      github_token:
        type: string
        required: false
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.head_sha }}
          fetch-depth: 0
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8
          pip --version
      - uses: taylornielson22/linter@v1
        with:
          black: ${{ inputs.black  }}
          flake8: ${{ inputs.flake8  }}
          repo_name: 'github_actions'
          owner: 'taylornielson22'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          base_sha: ${{ inputs.base_sha  }}
          head_sha: ${{ inputs.head_sha  }}
