name: PR To Master

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches: 
      - 'prod'
  
  workflow_dispatch:

jobs:
  test:
    env:
      PIP_INDEX_URL: https://artifactory.eng.nimblestorage.com/artifactory/api/pypi/pypi/simple
    runs-on: [self-hosted, Linux, X64, cfl-01]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python 
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install Python dependencies
        run: |
          sudo python -m pip install --upgrade pip
          sudo python -m pip install --index-url ${PIP_INDEX_URL}  --no-cache-dir --requirement requirements-test.txt
          sudo python -m pip install --index-url ${PIP_INDEX_URL}  --no-cache-dir --upgrade nimblezeus
          sudo python -m pip install --index-url ${PIP_INDEX_URL}  --no-cache-dir --upgrade nimble_continuous
          sudo python -m pip install -U -r requirements.txt
      - name: Set PYTHONPATH env var
        run: |
          cd unit_tests
          export PYTHONPATH=../lib
      - name: Test
        run: python -m pytest -v --disable-warnings -m stable1 --cache-clear --lead_array_name sjc-array2035 model
  lint:
    uses: taylornielson/github_actions/.github/workflows/_linter.yml@main
    with:
          base_sha: ${{ github.event.pull_request.base.sha }}
          head_sha: ${{ github.event.pull_request.head.sha  }}
          black: false
          flake8: true
  publish: 
    env:
      PIP_INDEX_URL: https://artifactory.eng.nimblestorage.com/artifactory/api/pypi/pypi/simple
    runs-on: [self-hosted, Linux, X64, cfl-01]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python 
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Get Commit Count
        run: |
            echo "COMMIT_COUNT = $(git rev-list --count HEAD ^main)" >> $GITHUB_ENV
            echo $COMMIT_COUNT
      - name: Install Dependencies
        run: |
            sudo python -m pip install --index-url ${PIP_INDEX_URL}  --no-cache-dir --upgrade pip
            sudo python -m pip install --no-cache-dir -e .
      - name: Package
        run: |
          python setup.py bdist_wheel bdist_egg egg_info --tag-build rc${{ github.event.number }}.post${{env.COMMIT_COUNT}}
      - name: Publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
          TWINE_REPOSITORY_URL: https://github.hpe.com/eig/cfl
        run: |
            python -m twine upload --disable-progress-bar dist/*
