name: CI

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    branches: 
      - 'main'
      - 'prod'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job is called "build"
  build:
    # Github creates a ubuntu image to checkout repo, compile, package.
    runs-on: ubuntu-latest

    # Tasks that will be executed as part of the job "build"
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8
          pip --version
      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          black: true
          flake8: true
          continue_on_error: false
          githubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Comment on PR'
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: ${{ github.event.number }},
              body: 'Everything is OK. Thank you for the PR!'
            });
