name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches: 
      - 'main'
      - 'prod'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This job is called "build"
  build:
    # Github creates a ubuntu image to checkout repo, compile, package.
    runs-on: ubuntu-latest
    env:
      BASE_SHA: ${{ github.event.pull_request.base.sha }}
      HEAD_SHA: ${{ github.event.pull_request.head.sha }}
    # Tasks that will be executed as part of the job "build"
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8
          pip --version
      - name: Run linters
        uses: taylornielson22/linter@v1
        with:
          black: true
          flake8: false
          repo_name: 'github_actions'
          owner: 'taylornielson22'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          base_sha: ${{ env.BASE_SHA }}
          head_sha: ${{ env.HEAD_SHA }}
      - name: 'Comment on PR'
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: ${{ github.event.number }},
              body: 'Everything is OK. Thank you for the PR!'
            });
