

name: merge2 Label

on:
  pull_request:
    types: [labeled]
  
  workflow_dispatch:

jobs:
  merge:
    if: ${{ github.event.label.name == 'merge2master' || github.event.label.name == 'merge2prod'}}
    runs-on: ubuntu-latest
    env:
      REBASE: ${{ github.event.label.name == 'merge2master'}}
    steps:
      - name: Rebase var
        run: echo "REBASE = ${{ env.REBASE }}"
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - name: Merge or/and Rebase
        uses: taylornielson22/rebase@v1
        with:
          pr_number: ${{ github.event.number }}
          rebase: ${{ env.REBASE }}
          # squash_commit: ${{ github.event.pull_request.title }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 

