name: PR Review
on:
  push:
  
  workflow_dispatch:
jobs:
  notify_slack:
    runs-on: ubuntu-latest
    container:
      image: python:3.8-slim
    steps:
      - run: apt-get update
      - run: apt-get install -y jq git curl
      - name: Create message from release notes
        run: |
          release_notes=$(curl -s -H "Authorization: Bearer ${{ github.token }}" "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/releases/tags/v1.2.1" | jq '.body')
          echo $release_notes | sed '/^[*] /!d' | sed 's/* //g' | sed 's+${{ github.server.url }}/${GITHUB_REPOSITORY}/pull/+#+g' > summary.txt
          echo 'RELEASE_SUMMARY<<EOF' >> $GITHUB_ENV
          cat summary.txt >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
      - uses: taylornielson22/slack_message@v1
        with:
          channel: team-dice-cfl-code-review-requests
          slack_webhook: ${{ secrets.WEBHOOK }}
          message: "*Changes*\n${{ env.RELEASE_SUMMARY }} ${{ secrets.INSTRUCT }}"
          message_title: "*New CFL package v1.2.1 released!*"
