name: PR Review
on:
  push:
  
  workflow_dispatch:
jobs:
  notify_slack:
    runs-on: ubuntu-latest
    container:
      image: python:3.8-slim
    env:
        PACKAGE_NAME: nimble-cfl
        VERSION: v1.2.1
    steps:
      - run: apt-get update
      - run: apt-get install -y jq git curl
      - uses: actions/checkout@v3
      - name: Create/Format Slack Message w/ Release Notes
        run: bash .github/scripts/create_release_slack_msg.sh
      - uses: taylornielson22/slack_message@v1
        with:
          channel: team-dice-cfl-code-review-requests
          slack_webhook: ${{ secrets.WEBHOOK }}
          message: "${{ env.SLACK_MESSAGE }}"
