name: PR Review
on:
  push:
  
  workflow_dispatch:
jobs:
  notify_slack:
    runs-on: ubuntu-latest
    container:
      image: python:3.8-slim
    steps:
      - run: apt-get update
      - run: apt-get install -y jq git curl
      - name: Create message with release notes
        run: |
          NOTE=$(curl -s -H "Authorization: Bearer ${{ github.token }}" "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/releases/tags/v1.2.1" | jq '.body')
          echo $NOTE
          NOTE="*Changes*\n$(echo $NOTE | sed '/^[*] /!d')"
          echo "OUTPUT:"
          echo $NOTE
          echo "NOTES=$NOTE" >> $GITHUB_ENV
        #  NOTES="*Changes*\n"$(echo $body | sed '/^[*] /!d')
        #  echo "NOTES=$NOTES${{ secrets.INSTRUCT }}" >> GITHUB_ENV
      - name: echo NOTES
        env:
          NOTES: ${{ env.NOTES }}
        run: echo $NOTES   
      - uses: taylornielson22/slack_message@v1
        env:
          NOTES: ${{ env.NOTES }}
        with:
          channel: team-dice-cfl-code-review-requests
          slack_webhook: ${{ secrets.WEBHOOK }}
          message: "${{ env.NOTES }} ${{ secrets.INSTRUCT }}"
          message_title: "*New CFL package v1.2.1 released!*"
